<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @event_name %> is running late</h1>
    <p>   
     Foundry must inform you that <%= @event_name %> is running late. <%= link_to 'Please fill out this form', @url %> to give other team members an estimate of how long it takes to finish the delayed task. If we do not hear back from you in <%= @minutes %> minutes, we will notify other team members anyway.</p>

     <p>
     wave nature of light and is determined by the finite aperture of the optical elements. The lens' circular aperture is analogous to a two-dimensional version of the single-slit experiment. Light passing through the lens interferes with itself creating a ring-shape diffraction pattern, known as the Airy pattern, if the wavefront of the transmitted light is taken to be spherical or plane over the exit aperture.

The interplay between diffraction and aberration can be characterised by the point spread function (PSF). The narrower the aperture of a lens the more likely the PSF is dominated by diffraction. In that case, the angular resolution of an optical system can be estimated (from the diameter of the aperture and the wavelength of the light) by the Rayleigh criterion invented by Lord Rayleigh:

Two point sources are regarded as just resolved when the principal diffraction maximum of one image coincides with the first minimum of the other.[1] [2] If the distance is greater, the two points are well resolved and if it is smaller, they are regarded as not resolved. Rayleigh defended this criteria on sources of equal strength.[2]
   

On Tue Jan 20 2015 at 5:47:31 PM <stanfordhci.odesk@gmail.com> wrote:
Hiring Emails

Task Available Email Sent!

This is an email from the Stanford HCI Group notifying you that a job requiring a for the task for the project has become available. Please take a look at the following job description to see if you are interested in and qualified to complete this task within the specified deadline.

Input(s): For this task, you will receive the following input(s)

As stated in our previous email, we will be asking you to use our platform, Foundry, to keep track of your progress and submit your work. If you have not already done so, please familiarize yourself with Foundry by visiting http://bit.ly/foundryexample and clicking the "Start Foundry Tour" button on the top left of the page. Feel free to contact us if you have any questions regarding the use of Foundry.

If you are hired, you must start working on the task within 30 minutes. You should confirm that you have started working on the task by accepting the contract on oDesk and signing in to Foundry via the link that will be sent to you.

If you are ready to start working on this task, reply to this email with your name in the content of the email as wel

Hiring Emails

Task Available Email Sent!

This is an email from the Stanford HCI Group notifying you that a job requiring a for the task for the project has become available. Please take a look at the following job description to see if you are interested in and qualified to complete this task within the specified deadline.

Input(s): For this task, you will receive the following input(s): You can access the input(s) at the following link: http://foundry-app-dev.herokuapp.com/members/66/confirm_email?cu=12638edc-a374-4f4b-a938-942b9d017501&u=e194f647-0f34-4b70-a641-066543bbe642

Deliverable(s):

Deadline:You will have to finish this task

As stated in our previous email, we will be asking you to use our platform, Foundry, to keep track of your progress and submit your work. If you have not already done so, please familiarize yourself with Foundry by visiting http://bit.ly/foundryexample and clicking the "Start Foundry Tour" button on the top left of the page. Feel free to contact us if you have any questions regarding the use of Foundry.

If you are hired, you must start working on the task within 30 minutes. You should confirm that you have started working on the task by accepting the contract on oDesk and signing in to Foundry via the link that will be sent to you.

If you are ready to start working on this task, reply to this email with your name in the content of the email as well as a confirmation that you can start within 30 minutes from when you are hired. If you are hired, you will be assigned to the task. We will hire you as soon as possible if the task is still available. If not, you will be notified for future opportunities.

Best, 
Stanford HCI Research Team

Best, 
Stanford HCI Research Team


    </p>
    
  </body>
</html>

