<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
      
      <p>Hi <%=@name%>,</p>
      
    <p>
      Thanks for joining a team on Foundry! You can use the following link to access your team anytime:
    </p>
    <p>
      <%=@url%>
    </p>
    <p>Sincerely, <br />
        The Foundry Team
    </p>
  </body>
</html>
