<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @event_name %> is running late</h1>
    <p>   
     Foundry must inform you that <%= @event_name %> is running late. Please click the link below and enter your estimate of how much longer you think it will take to finish the delayed task:  <%= @url %>. As soon as we receive your response, we will notify the other team members about the delay and the updated estimated completion time. If we do not hear back from you in <%= @minutes %> minutes, we will notify other team members anyway.
    </p>
    
    <p> Sincerely, <br />
	    The Foundry Team 
    </p>
    
  </body>
</html>

