<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @event_name %> is not finished on time</h1>
    <p>   
		Unfortunately, <%= @event_name %> by <%= @dri_role %> is not finished on time. We will notify you when the delayed task is finished or when we receive an estimation of the delay. 
    </p>
  </body>
</html>