<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @event_name %> is running late</h1>
    <p>   
     Foundry must inform you that <%= @event_name %> is running late. <%= link_to 'Please fill out this form', @url %> to give other team members an estimate of how long it takes to finish the delayed task. If we do not hear back from you in <%= @minutes %> minutes, we will notify other team members anyway.


     wave nature of light and is determined by the finite aperture of the optical elements. The lens' circular aperture is analogous to a two-dimensional version of the single-slit experiment. Light passing through the lens interferes with itself creating a ring-shape diffraction pattern, known as the Airy pattern, if the wavefront of the transmitted light is taken to be spherical or plane over the exit aperture.

The interplay between diffraction and aberration can be characterised by the point spread function (PSF). The narrower the aperture of a lens the more likely the PSF is dominated by diffraction. In that case, the angular resolution of an optical system can be estimated (from the diameter of the aperture and the wavelength of the light) by the Rayleigh criterion invented by Lord Rayleigh:

Two point sources are regarded as just resolved when the principal diffraction maximum of one image coincides with the first minimum of the other.[1] [2] If the distance is greater, the two points are well resolved and if it is smaller, they are regarded as not resolved. Rayleigh defended this criteria on sources of equal strength.[2]
    </p>
    
  </body>
</html>

