<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @event_name %> was not finished on time</h1>
    <p>   
		Unfortunately, <%= @event_name %> by <%= @dri_role %> was not finished on time and is expected to finish in <%= @delay_estimation %>. Flash Teams will notify you when it is done. 
    </p>
  </body>
</html>