<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Flash Teams: The team is running ahead of schedule</h1>
    <p>
      Your next task starts <%= @minutes %> minutes early since the team is running ahead of schedule. 
    </p>
  </body>
</html>