<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Edit team request for the <%= @flash_team_name %> project </h1>
    
    <p>Hi, </p>
    
    <p>
      A worker has submitted a request to make a change to the team.
    </p>

    <p>Request Text: <br />
    <%= @request_text.html_safe %>

    </p>

    <p> Sincerely, <br />
	    The Foundry Team 
    </p>
    
  </body>
</html>