<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
	
  <p>*Note: for any questions, please contact the research team at kartiks2@stanford.edu.</p>
	  <p>Hi <%=@name%>,</p>
	  
    <p>
      Welcome to Foundry! Please click on the link below to confirm your email address. Note that in order to be considered for hiring, you must click the link below within the 10 minutes that you were alotted to complete the registration process.
    </p>
    <p>
      <%=@url%>
    </p>
    
    <p>If you have not already done so, please familiarize yourself with Foundry by clicking the "Start Foundry Tour" button on the top right of the team page.  We will send you another email once we have hired all the other workers on your team. Feel free to contact us if you have any questions regarding the use of Foundry.</p>
    
    <p>Sincerely, <br />
	    The Foundry Team
    </p>
  </body>
</html>
