<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @event_name %> was not finished on time</h1>
    
    <p>Hi Team, </p>
    
    <p>   
		This email is notifying you that unfortunately, the <%= @event_name %> task by <%= @dri_role %> was not finished on time and is expected to finish in <%= @delay_estimation %>. You will receive another email notification when the task has been completed. 
    </p>
    
    <p> Sincerely, <br />
	    The Foundry Team 
    </p>
    
  </body>
</html>