<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
	  
	  <p>Hi <%=@name%>,</p>
	  
    <p>
      Welcome to Foundry! Please click on the link below whenever you want to access your team and view your tasks on Foundry:
    </p>
    <p>
      <%=@url%>
    </p>
    
    <p>If you have not already done so, please familiarize yourself with Foundry by clicking the "Start Foundry Tour" button on the top right of the team page.  Feel free to contact us if you have any questions regarding the use of Foundry.</p>
    
    <p>Sincerely, <br />
	    Stanford HCI Research Team
    </p>
  </body>
</html>