<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @title %> is finished</h1>
    
    <p>Hi Team, </p>
    
    <p>
      We are pleased to let you know that the <%= @title %> task, the previously delayed task, is now finished. Please remember to log on to Foundry using the account link emailed to you in the beginning of the project and start your task once it is time. 
      
      Thank you! 
    </p>

    <p> Sincerely, <br />
	    The Foundry Team 
    </p>
    
  </body>
</html>