<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @title %> is finished</h1>
    <p>
      <%= @title %>, the delayed task that your task is dependant on, is finished now.
 

    </p>
  </body>
</html>