<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @event_name %> is not finished on time</h1>
    
    <p>Hi Team,</p>
    <p>   
		This email is notifying you that unfortunately, the <%= @event_name %> task by <%= @dri_role %> was not finished on time. We will notify you when the delayed task is finished or when we receive an estimation of the delay. 
    </p>
    
    <p>Sincerely, <br />
	    The Foundry Team
    </p>
  </body>
</html>