<div class="header chat-header">
  <h5 class="main-header">Chat</h5>
  <span id="show-online-button" style="color:#3366BB">See who is online (<span class="num-online">0</span>)</span>
</div>

<div id="sound"></div>

<script src='https://cdn.firebase.com/v0/firebase.js'></script>
<script> var flash_team_id=<%= @flash_team.id %>; </script>

<div class="chat-content">
  <div id="messageList"></div>
  <div class="entry">
    <textarea type="text" id="messageInput" placeholder="Type your message here..."></textarea>
    <div style="padding-bottom: 8px; width: 100%;">
      <div id="sendChatButton">Send</div>
      <div class="clear"></div>
    </div>
  </div>
</div>

<div id="online-users-box" style="padding-left:19px;">
  <div class="content">
    <h5><span class="num-online">0</span> users online</h5>
    <div id="presenceDiv"></div>
  </div>
</div>