<!-- Confirm delete modal (pops up when user tries to delete a member, event, etc.) -->
		<div id="confirmAction" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="Confirm Action" aria-hidden="true">
  			<div class="modal-header">
    			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    			<h3 id="confirmActionLabel" align = "center" ></h3>
  			</div>
  			<div id = "confirmActionText" align = "left" class="modal-body">
  			</div>
  			<div class="modal-footer">
    			<button class="btn" data-dismiss="modal" aria-hidden="true" >Cancel</button> 
    			<button id= "confirmButton" class="btn btn-danger" ></button>
  			</div>
		</div>
