<!-- Documentation question of the previous task. Shows up when the worker opens the page for the first time  -->
<div id="doc_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="doc_modal_Label" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="doc_modal_Label"></h3>

  </div>
  <div class="modal-body doc-modal-body">
   <!-- <p id="task-text">Task Description</p>
    <p><span id="task-edit-link"></span></p> -->
  </div>
  <div class="modal-footer doc-modal-footer">
    <!--<button class="btn btn-primary" id="next-doc-modal" onclick="nextDocModal()">Next</button> -->
    <!-- <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary" id="edit-save-task" onclick="editTaskOverview(true)">Edit</button> -->
  </div>
</div>