<form id="edit_event_form">
  <div class="event_form_container">
    <input type="text" name="event_title" value="NEW EVENT" id="event_title"></input>

    <div id="timings">

      <div id="event_form_start_cont">      
        <span class="input-label side-label">START</span>
        <input type="text" id="event_form_start" name="start_time" value="00:00" class="small-input"></input>
      </div>

      <div id="event_form_duration_cont">
        <span class="input-label side-label">DURATION</span>
        <input type="text" id="event_form_duration" name="duration" value="1h30m" class="small-input"></input>
      </div>
    </div>

    <span class="input-label">DESCRIPTION</span>
    <textarea id="event_form_description" name="description"></textarea>

    <span class="input-label">INPUTS</span>
    <input type="text" id="event_form_inputs" name="inputs" value=""></input>

    <span class="input-label">DELIVERABLES</span>
    <input type="text" id="event_form_deliverables" name="deliverables" value=""></input>
  </div>
  <div class="event_form_container">
    <h5 class="form-heading"> MEMBERS </h5>
  </div>
  <div class="event_form_container">
    <h5 class="form-heading"> DOCUMENTATION QUESTIONS </h5>
  </div>
</form>

