<style type="text/css">
#searchEventsInput {
  border-radius: 0;
  box-shadow: none;
}

</style>
<div class="header">
  <h5 class="main-header">Event library</h5>
</div>

<div class="inner">
  <div class="content">
    <div class="input-append">
      <input id="searchEventsInput" type="text" placeholder="Search...">
    </div>
    <div id="search-results"></div>
  </div>
</div>