<h5>EVENT LIBRARY</h5>
<div class="input-append" style="width: 100%;">
	<input class="span9" id="searchEventsInput" type="text" placeholder="Search..." style="width: 100%;">
</div>

<div id="search-results"></div>	