<div id="feedback_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="feedback-modal-label" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="feedback-modal-label"></h3>
  </div>
  <div class="modal-body feedback-modal-body">
  </div>
  <div class="modal-footer feedback-modal-footer">
    <button class="bluelink" data-dismiss="modal" aria-hidden="true">OK</button>
  </div> 
</div>
