<%= stylesheet_link_tag "auth"%>
<header id="foundry-header">
  <div class="menu-button icon active"></div>
  <div class="logo small">
    <span class="text">Foundry</span>
  </div>
  
  
  
   <!-- if in author view show the back button on left and foundry tour and start/end button on right --> 
   <% if in_author_view %>
	     <div class="span3 ft-buttons" id="ft-buttons-left" style="position:absolute;left:150px;top:6px;">
	       <input type="button" class="link" id="backBtn" value="Back" onclick="window.location='<%=flash_teams_path%>';"/>
	  	</div>
	     
	     <div class="span2 ft-buttons" id="ft-buttons-right" style="width:auto;position:absolute;right:6px;top:6px;">
		   
           <input type="button" class="link" id="flashTeamResetBtn" value="Reset Team" style="display: none"/> 
	       <input type="button" class="link" id="tourBtn" value="Start Foundry Author Tour"/>
	       <input type="button" class="greenlink" id="flashTeamStartBtn" value="Start Team"/>
	       <input type="button" class="redlink" id="flashTeamEndBtn" value="End Team" style="display: none"/>
	       <input type="button" class="greenlink" id="workerEditTeamBtn" value="Request Change"  style="display: none"/>
           <% if ENV['PULL_REQUESTS'] == 'enabled' %>
	           <input type="button" class="bluelink" id="flashTeamBranchBtn" value="Edit" target="_blank" style="display: none"/>
               <input type="button" class="bluelink" id="submitPullRequestBtn" value="Submit Pull Request" style="display: none"/>
               <input type="button" class="bluelink" id="mergePullRequestBtn" value="Approve and Merge" style="display: none"/>
           <% else %>
               <input type="button" class="bluelink" id="flashTeamPauseBtn" value="Edit" style="display: none"/>
           <% end %>
	        <input type="button" class="bluelink" id="flashTeamResumeBtn" value="Save" style="display: none"/>
	     </div>
     
     <% else %> <!-- else only show the start foundry tour button --> 
	     <div class="span2 ft-buttons" id="ft-buttons-right" style="width:auto;position:absolute;right:6px;top:6px;">
	       <input type="button" class="link" id="expertTourBtn" value="Start Foundry Worker Tour"/>
	     

	       <%  if @member_type == 'pc' || @member_type == 'client' || @member_type == 'worker' %>
				       <% if ENV['PULL_REQUESTS'] == 'enabled' %>
                   <input type="button" class="bluelink" id="flashTeamBranchBtn" value="Edit" target="_blank" style="display: none"/>
                   <input type="button" class="bluelink" id="submitPullRequestBtn" value="Submit Pull Request" style="display: none"/>
                   <input type="button" class="bluelink" id="mergePullRequestBtn" value="Approve and Merge" style="display: none"/>
               <% else %>
                   <input type="button" class="bluelink" id="flashTeamPauseBtn" value="Edit" style="display: none"/>
               <% end %>
				      <input type="button" class="btn btn-primary" id="flashTeamResumeBtn" value="Save" style="display: none"/>
   		     <% end %>


	     </div> 
     
   <% end %>


</header>
