<div id="hire_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="hire-modal-label" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="hire-modal-label">Choose an event to hire workers for</h3>
  </div>
  <div class="modal-body hire-modal-body">
  </div>
  <div class="modal-footer hire-modal-footer">
    <button class="bluelink" data-dismiss="modal" aria-hidden="true">OK</button>
  </div>
</div>
