<!-- Project Overview Modal (triggered by info button next to the flash team title) -->
<div id="jsonModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="jsonModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="jsonModalLabel">JSON Structures</h3>
  </div>
  <div class="modal-body" id="json-modal-body">

    <div class="row-fluid">

      <div class="span4" id="master-updated-json-div">

      </div>

      <div class="span4" id="ancestor-json-div">

      </div>

      <div class="span4" id="branch-json-div">

      </div>


    </div>

  </div>
  <div class="modal-footer">

    <%if @original_or_branch == "branch" %>
        <button class="btn btn-danger" id="json-pull-footer-btn" onclick="mergeMasterToBranch()">Merge Master into Branch</button>

        <button class="btn btn-danger" id="json-merge-footer-btn" onclick="mergeBranchToMaster()">Merge Branch into Master</button>

        <input type="button" class="btn btn-primary" id="submit-pr" value="Submit Pull Request"  style="display: ''" onclick="submitPullRequest();"/>
       <%end%>
  </div>
</div>