<ul class="menu">
    <li><a onclick="return false;" href="#">Edit</a></li>
    <li><a onclick="return false;" href="#">Delete</a></li>
    <li><a onclick="return false;" href="#">Duplicate</a></li>
</ul>