<div style="padding: 0 11px;">
  <a target="_blank" id="gFolder" class="button">
    <div class="google-drive-button">
      <span class="text">Go to Google Drive™ folder</span>
    </div>
  </a>
  <p style="font-weight: 400;margin-top: 11px;">Progress Status:</p>
  <div class="progress progress-bar" style="background: #ffffff !important; border:solid 1px #c3c3c3;">
      <div class="bar" style=" width: 0%; transition:width 1s linear;
      -moz-transition:width 1s linear; 
      -webkit-transition:width 1s linear; 
      -o-transition:width 1s linear;" >
      </div>
  </div>
</div>