<div class="header">
  <h5 class="main-header">Project overview</h5>
</div>

<div class="inner">
  <div class="content">
    <p id="projectOverview"></p>
    <div class="span1" id="projectOverviewEditLink"></div>
    <div class="clear"></div>
  </div>
</div>