<!-- Request edit modal (pops up when worker wants to propose a change to the team) -->
		<div id="workerRequestEdit" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="Request Edit" aria-hidden="true">
  			<div class="modal-header">
    			<button type="button" class="close request-edit-modal-cancel" data-dismiss="modal" aria-hidden="true">×</button>
    			<h3 id="requestEditLabel">Request a Change</h3>
  			</div>
  			<div id = "requestEditText" class="modal-body">

          <select id='request-edit-dropdown'>
              <option>-- SELECT REQUEST TYPE -- </option>
              <option>Add an Event</option>
              <option>Edit an Event</option>
              <option>Other</option>
          </select>

          <div id="request-edit-form-content">
            <p>Please select which type of change you would like to make.</p>
            <!-- <p>Please summarize the changes you would like to make.</p>
            <textarea class="span6" rows="5" id="request-edit-form-text"></textarea> -->
          </div>

  			</div>
  			<div class="modal-footer">
    			<button class="btn" id="request-edit-modal-cancel" data-dismiss="modal" aria-hidden="true" >Cancel</button> 
    			<button id= "requestEditSubmitBtn" class="btn btn-success">Submit Request</button>
          <!-- <button id= "confirmButton" class="btn btn-danger" ></button> -->
  			</div>
		</div>
