<style>
  #right-sidebar {
    position: absolute;
    right: 0px;
    width: 240px;
    top: 64px;
    z-index: 2;
    background: black;
    border-left: solid 1px rgba(233,233,233,0.18);
    height: 100%;
  }
</style>
<div id="right-sidebar">
  <div id="chat-box-container">
    <!-- render partial with chat box --> 
    <%= render :partial => "chatbox" %>
  </div>
</div>