<h5>TEAM ROLES</h5>

<form name='newMemberForm' autocomplete="on" id="newMemberForm">
    <div class="input-append" style="width:275px;">
        <input class="span9" id="addMemberInput" type="text" placeholder="New Member Role" autocomplete="on">
        <button class="btn" type="button" onclick="addMember()" id="addMemberButton">+Add</button>
        <input type="submit" style="display:none">
    </div>
    <input type="text" name="enterAndReloadBugFix" style="display: none;"> 
</form>

<ul class = "nav nav-pills customPill" id="memberPills">
    <!--Member Pills Appended Here in JS-->
</ul>