<%= render "task_hiring_sidebar" %>

<!-- Page Content -->
<div id="page-content-wrapper">
    <div class="container-fluid">
        

      <div class="row">
         <div class="col-lg-12">

			 <h2>Email Sent!</h2>

			 	<%= yield %>

		</div>
	</div>


  </div> <!-- #container-fluid -->
</div> <!-- /#page-content-wrapper -->

</div> <!-- /#wrapper -->

<%= render "task_hiring_sidebar_footer" %>