<div class="row-fluid">
	
	<h3><i class="fa fa-angle-right"></i> Hiring Emails</h3>
          	
  	<!-- INPUT MESSAGES -->
  	<div class="row-fluid">
  		<div id="email-form-div" class="span7">
  			<div class="form-panel">
		  	  	<div class="row-fluid">
		  	  		<div class="span7">
		  	  			<p style="font-size:18px;"><i class="fa fa-angle-right"></i> Task Unavailable Email Sent!</p>
					</div>
				</div> <!-- end div class row -->
				
				<div class="row-fluid span12">
					<p>Thank you for applying for the <em><%=@task_member%></em> role to work on the <em><%=@task_name%></em> task as part of the <b><em><%=@flash_team_name%></em></b> project. Unfortunately, the job is no longer available. As you know, we use an on-demand hiring process that assigns the job to the first person who claims it. However, we have more upcoming projects and we will keep you posted as other job opportunities become available.</p>


					<p>If you don't want to be informed about our future job opportunities, please reply to this email with your name in the content.</p>

					<p>
						Best, <br />
						Stanford HCI Research Team
					</p>
					
				</div>
	
          	  
			</div><!-- /form-panel -->
		</div><!-- /span7 -->
  		  			
  	</div><!-- /row -->
</div>