<!-- Project Overview Modal (triggered by info button next to the flash team title) -->
<div id="task_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="task_modal_Label" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="task_modal_Label">Task Overview</h3>
  </div>
  <div class="modal-body">
    <p id="task-text">Task Description</p>
    <p><span id="task-edit-link"></span></p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary" id="edit-save-task" onclick="editTaskOverview(true)">Edit</button>
  </div>
</div>