<%= render "task_hiring_sidebar" %>

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
            
            <%= yield %>
            
           </div><!-- /#container-fluid -->
        </div><!-- /#page-content-wrapper -->

    </div><!-- /#wrapper -->

<%= render "task_hiring_sidebar_footer" %>
