<!-- Task Modal (triggered when an event block on timeline is clicked on) -->
<div id="task_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="task_modal_Label" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" id="modal-close-btn" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="task_modal_Label"></h3>

  </div>
  <div class="modal-body task-modal-body">
   <!-- <p id="task-text">Task Description</p>
    <p><span id="task-edit-link"></span></p> -->
  </div>
  <div class="modal-footer task-modal-footer">
    <!-- <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary" id="edit-save-task" onclick="editTaskOverview(true)">Edit</button> -->
  </div> 
</div>

<!-- Task Modal (triggered when an event block on timeline is clicked on) -->
<div id="task_modal2" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="task_modal_Label2" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" id="modal-close-btn2" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="task_modal_Label2"></h3>

  </div>
  <div class="modal-body task-modal-body2">
   <p id="task-text2">Task Description</p>
    <!--<p><span id="task-edit-link"></span></p> -->
  </div>
  <div class="modal-footer task-modal-footer2">
    <!-- <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary" id="edit-save-task" onclick="editTaskOverview(true)">Edit</button> -->
  </div> 
</div>