<div id="timeline-header">

 <% if @dup_edit_team == true%>
   <div class="alert span8" id="dup-edit-alert" style="margin-bottom: 1px;">
      <!-- <button type="button" class="close" data-dismiss="alert">&times;</button> -->
      <p> 
        <span id='dup-edit-alert-text'>You are editing a duplicated team.</span>
      </p>
    </div>
 <% end %>

  
  <div class="alert alert-class" id="project-status-alert" style="margin-bottom: 5px; display:none">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <p> 
    	<span id='project-status-alert-text'></span>

    <button class="btn project-status-alert-btn btn-mini btn-default" id="project-status-alert-btn" style="float: right; margin-left: 5px; display: none">
    	Project Status Button
    </button>
     <button class="btn project-status-alert-btn btn-mini btn-default" id="project-status-alert-btn2" style="float: right; display: none">
    	Project Status Button
    </button>
    </p>
</div>

  <% if @in_author_view %>
    <input type="button" class="btn" id="addTimeBtn" value="Add Time" onclick="addTime()">
    <div class="clear"></div>

    <!-- render partial with confirm action alert --> 
    <%= render :partial => "confirm_action" %>
  <% end %>

</div>

<div class="overlay" id="overlay" ondrop="drop(event)" ondragover="allowDrop(event)"></div>