<div id="timeline-header">
  <% if @in_author_view %>
    <input type="button" class="btn" id="addTimeBtn" value="Add Time" onclick="addTime()">
    <div class="clear"></div>

    <!-- render partial with confirm action alert --> 
    <%= render :partial => "confirm_action" %>
  <% end %>

</div>

<div class="overlay" id="overlay" ondrop="drop(event)" ondragover="allowDrop(event)"></div>