	<div class="container"  >
	<br><br><br><br>
<div class="span10" >

<div class=" well" >
<div class="row-fluid " >
	
<p>

Please give other team members an estimate of how long it will take to finish the delayed task by entering your estimation below. Foundry will send an email to all team members to notify them about the estimated delay.
</p>
<br>	
 The delayed task will finish in:
  <form accept-charset="UTF-8" action=<%= @action_link %> method="get">


  <select id="q" name="q" type="text">
  <option value="15 minutes">15 minutes</option>
  <option value="30 minutes">30 minutes</option>
  <option value="1 hour">1 hour</option>
  <option value="1h 30m">1h 30m</option>
   <option value="2 hours">2 hours</option>
  <option value="2h 30m">2h 30m</option>
   <option value="3 hours">3 hours</option>
  <option value="3h 30m">3h 30m</option>
   <option value="4 hours">4 hours</option>
  <option value="4h 30m">4h 30m</option>
   <option value="5 hours">5 hours</option>
  <option value="6 hours">6 hours</option>
  <option value="7 hours">7 hours</option>
  <option value="8 hours">8 hours</option>
  <option value="9 hours">9 hours</option>
  <option value="10 hours">10 hours</option>
  <option value="more than 10 hours">more than 10 hours</option>
  </select>
 <div class="row-fluid">
  <input name="commit" class="btn-primary" type="submit" value="Submit" />
 </div>
  </form>
</div>
</div>
</div>
</div>

</div>