	<div class="container"  >
	<br><br><br><br>
<div class="span10" >

<div class=" well" >
<div class="row-fluid " align="center" >
	
<p>Thanks for filling out the form. The delayed task is expected to finish in <%= @delay_estimation %>.</p>

</div>
</div>
</div>
</div>

</div>