<!-- render partial with confirm action alert --> 
<!-- <% render :partial => "task_hiring_sidebar" %> -->

<h2>Email Sent!</h2>
<%=@sender_email%><br />
<%=@recipient_email%><br />
<%=@subject%><br />
<%=simple_format(@message)%>
