<div class="row-fluid text-center">
	
<p class="span12" id="confirmation-text">Thank you for signing up! You should start receiving job notifications soon. <br /> <br /> Don't forget to add stanfordhci.odesk@gmail.com to your address book <br /> to prevent job notifications from going to your spam folder.</p>
</div>