<div class="row-fluid">

<div class="alert alert-success" id='copy-conf-alert' style="display: none;">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Copied!</strong> Your Application ID has been copied to your clipboard.
</div>
	
<p class="span12" id="confirmation-text">

<span class="span6">

<!-- Param: <%# params[:conf_type] %> -->

<% if params[:conf_type] == 'apply' %>

	<% worker = Worker.find(params[:id]) %>

	Thank you for applying! <br /><br /><br />

	<b>Please enter the following application ID in your
	Upwork application to confirm your application: </b>

	<br /><br />

	<span id="app-conf-code"> <%= worker.panel + '_' + worker.id.to_s %> </span> 

	<button class="btn btn-default" id="copy-button-filt" data-clipboard-text="<%= worker.panel + '_' + worker.id.to_s %>" title="Click to copy app ID to clipboard.">Copy to Clipboard</button>

	<%= javascript_include_tag "ZeroClipboard" %>
	<script> ZeroClipboard.config( { swfPath: "/assets/ZeroClipboard.swf" } ); </script>

	<br />

<% else %>
	Thank you for signing up! You should start receiving job notifications soon. 

<% end %>

	<br /> <br /> 

	Don't forget to add stanfordhci.odesk@gmail.com to your address book to prevent job notifications from going to your spam folder.

</span>
</p>
</div>

<script>
	
	var client_filt = new ZeroClipboard( document.getElementById("copy-button-filt") );
	
	client_filt.on( "ready", function( readyEvent ) {
	  //alert( "ZeroClipboard SWF is ready!" );
	
	  client_filt.on( "aftercopy", function( event ) {
	    //alert("Copied app ID to clipboard: " + event.data["text/plain"] );
	    $("#copy-conf-alert").css('display', '');
	  } );
	} );
</script>