<div class="span12">

	<div class="row span12">
	<h1>Panels</h1>
	<p>To filter, select a panel from the dropdown and/or click on the checkboxes in the table.</p>
	</div>
	
	<div class="row span12">
	<a data-toggle="modal" data-target="#modal-new-worker" data-remote="<%= new_worker_path %> #panelregform">Add New Worker</a>
	</div>
	
	<div class="modal hide fade" id="modal-new-worker" style="width: 560px; margin-left: -230px;">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	    <h3>New Worker</h3>
	  </div>
	  <div class="modal-body">
	      <p> Loading... </p>
	  </div>
	</div>
	
		
	<p class="row span12">
	<br />
	<b>Select a Panel:</b> <br />
	
	</p>
	<p class="row span12">
	<%= select_tag "panels", options_for_select(@panels), {:prompt => "All Panels"}%>
	
	</p>
	
	
	<div id="filter_results" class="row span12">
	
		<%= render :partial => "workers/filter_workers" %>
	
	</div>

	
	<!-- <% javascript_include_tag "/assets/authoring/panels" %> -->

</div>