<html lang="en">
	<head>
		<meta charset="utf-8">
        <%= javascript_include_tag "/assets/application.js" %>   
	</head>
	<body>
		
	<div id="panel_wrapper">

	
    <!-- <div id="wrapper"> -->

        <!-- Sidebar -->
       <!--
 <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
            
                
                <li style="color: white;">Panel: </li>

            </ul>
        </div>
-->
        <!-- /#sidebar-wrapper -->
 