<!-- Modal -->
<div class="modal fade modal-lg" id="pcModal" tabindex="-1" role="dialog" aria-labelledby="pcModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="pcModalLabel">Project Coordinator Training</h4>
      </div>
      <div class="modal-body">
      	<div class="container" id="pcWizard">
		   <div class="navbar">
		      <div class="navbar-inner wizTabs">
		            <ul class="nav nav-pills">
		               <li class="active"><a href="#step1" data-toggle="tab">Welcome</a></li>
		               <li><a href="#step2" data-toggle="tab">Job Intro</a></li>
		               <li><a href="#step3" data-toggle="tab">Foundry</a></li>
		               <li><a href="#step4" data-toggle="tab">Hiring</a></li>
		               <li><a href="#step5" data-toggle="tab">Hiring</a></li>
		               <li><a href="#step6" data-toggle="tab">Budget</a></li>
		               <li><a href="#step7" data-toggle="tab">How To</a></li>
		               <li><a href="#step8" data-toggle="tab">Q/A</a></li>
		               <li><a href="#step9" data-toggle="tab">Quality</a></li>
		               <li><a href="#step10" data-toggle="tab">Summary</a></li>
		            </ul>
		      </div>
		   </div>
		   <div class="tab-content">
		      <div class="tab-pane active" id="step1">
		      	<p class = "infoText">Page 1 of 10</p>
				<p class="tText">Welcome to the Project Coordinator Panel</p></br>		         	
		         <p class="tText">Please go through the following training sections to register for a panel. Once you are registered, you will be eligible to be hired for one of our projects!</p></br>
				<p class="tText">The training will outline your roles, responsibilities, and the hiring process. We’re excited to have you onboard! </p></br>
		         <a class="btn btn-default next" href="#">Next</a>
		      </div>
		      <div class="tab-pane" id="step2">
		      	 <p class = "infoText">Page 2 of 10</p>
		         <p class="tText">As a <b>project coordinator</b>, your job is to help the team run smoothly by managing a team. You will facilitate collaboration within your team, and between teams on the project, oversee progress, and guide the direction of the work being done.</p></br>
		         <p class = "tText"><b>Your Main Responsibilities will Be:</b></p>
		         <ul class = "tText">
		         	<li>Hiring freelancers for your team</li>
		         	<li>Acting as a liaison between the workers and client</li>
		         	<li>Communicating with other PCs to achieve consistency between teams</li>
		         	<li>Determining whether the project is ready to move on to the next task</li>
		         	<li>Answering team-member’s questions</li>
		         	<li>Ensuring that the project remains on track</li>
		         </ul></br>
		         <a class="btn btn-default prev" href="#">Previous</a><a class="btn btn-default next" href="#">Next</a>
		      </div>
		      <div class="tab-pane" id="step3">
		      	<p class = "infoText">Page 3 of 10</p>
		      	<p class = "tText">Please watch this screencast for a preview of the platform you will use</p></br>
		      		<iframe id = "youtube1" class="youtube-player" type="text/html" width="75%" height="400" src="http://www.youtube.com/embed/WeVzoOvn_F0" allowfullscreen="" frameborder="1"></iframe>
		         </br>
		         <a class="btn btn-default prev vidButton1" href="#">Previous</a><a class="btn btn-default next vidButton1" href="#">Next</a>
		      </div>
		      <div class="tab-pane" id="step4">
		      	<p class = "infoText">Page 4 of 10</p>
		         <p class = "tText">As a PC, you will have to hire freelancers from oDesk to complete the tasks for your team. We will be using an on-demand hiring method, and have already created “panels” of qualified freelancers. </p></br>
		         <p class = "tText">When it is time to actually hire a freelancer: </p></br>
		         <ol class = "tText">
		         	<li>You should send a message to all members of the appropriate panel, to let them know that a job is available. We give you the template.</li>
		         	<li>You may hand-pick an individual who responds to the message, but we recommend hiring the first person who responds. Once the person has claimed the task, you can officially hire them on oDesk Once hired, the freelancer should start working in 30 minutes.</li>
		         	<li>Once a freelancer has completed a task, it is also your responsibility to end their contract on oDesk.</li>
		         </ol></br>
		         <a class="btn btn-default prev" href="#">Previous</a><a class="btn btn-default next" href="#">Next</a>
		      </div>
		      <div class="tab-pane" id="step5">
		      	<p class = "infoText">Page 5 of 10</p>
		         <p class = "tText">Please watch this screencast about hiring, for a step-by-step guide of how to hire a freelancer </p></br>
		         <iframe id = "youtube2" class="youtube-player" type="text/html" width="75%" height="400" src="http://www.youtube.com/embed/NwoGCVa_o7E" allowfullscreen="" frameborder="1"></iframe>
		        </br>
		         <a class="btn btn-default prev vidButton2" href="#">Previous</a><a class="btn btn-default next vidButton2" href="#">Next</a>
		      </div>
		      <div class="tab-pane" id="step6">
		         <p class = "infoText">Page 6 of 10</p>
		         <p class = "tText">You will be assigned as the project coordinator for a subset of the tasks you see on Foundry. We have set a maximum budget for your subset of tasks that is sent to you in the task acceptance email from Stanford HCI group. Make sure that the payments to you plus the payment to any freelancer working on your subset of tasks, does not exceed the maximum budget.</p></br>
		         <p class = "tText">In addition, you should log time only when you are attending a meeting, evaluating a task output, writing down task documentation, hiring freelancers, and answering questions on Foundry. You should not log time when a freelancer is working on their task and does not need to consult you.</p></br>
		         <p class = "tText">When you hire a new freelancer, you should follow these hiring constraints:</p></br>
		         <ul class = "tText">
		         	<li>Contract type: hourly</li>
		         	<li>Weekly limit: the duration of the task</li>
		         	<li>No manual timing</li>
		         	<li>No weekly salary</li>
		         </ul></br>
		         <a class="btn btn-default prev" href="#">Previous</a><a class="btn btn-default next" href="#">Next</a>
		      </div>
		      <div class="tab-pane" id="step7">
		         <p class = "infoText">Page 7 of 10</p>
		         <p class = "tText">Your project will involve working with PCs from the other teams to make sure that the project is cohesive, and that the various parts are consistent with one another. It will also involve regular conversation with the members of your team. Make sure to communicate regularly with everyone via chat. In addition, you will have a number of regular meetings: </p></br>
		         <p class = "tText"><b>Integration meetings</b> are your opportunity to meet with other PCs and team members to discuss issues of consistency between the teams. </p></br>
		         <p class = "tText"><b>Handoff meetings</b> are intended to handoff the output of your team to the next PCs. If you are the DRI, directly responsible individual, of the handoff meeting it is your responsibility to hire the new PCs and describe them their responsibilities as a PC. </p></br>
		         <p class = "tText"><b>Planning meetings</b> allow you to meet with the client and design a high-level vision, structure, and implementation plan to achieve the end goal. </p></br>
		         <p class = "tText">The meetings should preferably happen through Foundry chat so that all other freelancers and the client know the details of the meetings. The DRI of the meeting will be responsible for scheduling it. Also, if there is any point of conflict among the PCs, you should contact the client to solve the issue.</p></br>
		         <a class="btn btn-default prev" href="#">Previous</a><a class="btn btn-default next" href="#">Next</a>
		      </div>
		      <div class="tab-pane" id="step8">
		          <p class = "infoText">Page 8 of 10</p>
		          <p class = "tText">As a PC, you have a high-level understanding of the project and its overall goals.  If freelancers on individual tasks have questions about their work, they will come to you for assistance.  If you do not know the answer to a question, first consult with the other PCs.  If the PCs collectively cannot answer a question, you may email the client to ask about the issue.</p></br>
		         <p class = "tText">In fact, you will act as a middle-man between the freelancers and the client.  A freelancer’s questions or concerns should never go directly to the client; instead, they will go to you, and you will decide how to proceed with the issue.</p></br>
		         <a class="btn btn-default prev" href="#">Previous</a><a class="btn btn-default next" href="#">Next</a>
		      </div>
		      <div class="tab-pane" id="step9">
		        <p class = "infoText">Page 9 of 10</p>
		         <p class = "tText">After a freelancer has completed their task, it is <b>your job</b> to decide whether the worker’s final task deliverable meets the necessary standards to move forward in the project.</p></br>
		         <p class = "tText">If you decide that the product is ready, you can hire freelancers for the next task by the steps in the previous screencast. If not, you may have to add an additional task in order to account for the extra work that needs to be done, and rehire accordingly. You can either make the decision about project quality yourself, relying on your own knowledge to gauge the state of the product, or consult with other other team members, PCs, or the client.</p></br>
		         <p class = "tText">In addition, note that for each task, the outputs and documentation questions often feed directly into the next task as inputs. It is your responsibility to make sure that the Directly Responsible Individual for a particular task has uploaded all outputs to the respective Google Drive folder, and has adequately filled out the documentation questions. </p> </br>
		         <a class="btn btn-default prev" href="#">Previous</a><a class="btn btn-default next" href="#">Next</a>
		      </div>
		      <div class="tab-pane" id="step10">
		      	<p class = "infoText">Page 10 of 10</p>
		         <p class = "tText"><b>That should be all!</b> Your next step is to complete the registration form that you will see when you hit the complete button at the bottom of this training. Once you have registered for the PC panel, simply wait for an email from us indicating that a job is available. If you are the first to respond to the email, you will hear from us indicating that you can get started! </p></br>
		         <p class = "tText"><b>Overall, your job will be to: </b></p></br>
		         <ol class = "tText">
		         	<li>Before a task, make sure that the “inputs” are in the appropriate folder for the task</li>
		         	<li>Follow the hiring procedure to hire a freelancer</li>
		         	<li>After the freelancer has completed the job, end the worker’s contract on oDesk</li>
		         	<li>Make sure that all outputs have been completed to the quality you would like, and have been uploaded appropriately</li>
		         	<li>Work to make sure the next talk starts and ends smoothly, with all the right information.</li>
		         </ol></br>
		         <p class = "tText">Remember: We are counting on you to make sure the work done by the team is efficient, and of high quality. Thank you for your hard work! </p></br>
		         <a class="btn btn-default prev" href="#">Previous</a>
		      </div>
		   </div>
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" id="pcCompleteBtn" data-dismiss="modal" disabled onclick="showForm()">Complete Training</button>
      </div>
    </div>
  </div>
</div>