
            <div class="container-fluid"  id="signupform">
				<div class="row-fluid span12 text-center">

					<!--
<h1>Panel Registration</h1>

						</br>
-->

						<div class="row-fluid text-center">
							<p class="span12" id="topText">Congratulations! You are qualified to join our panel of experts and be notified of job opportunities. 
								<br />
								In order to register, enter you access code, and open up the appropriate training module. 
								<br />Once you have completed training, you will be able to access the registration form.</p>
						</div>
						</br>
						<div id = "launchDiv">
							<b>To Launch Training, Enter your Panel Password</b></br>
							<input type="text" id="password"></input></br>
							<button type="button" class="btn btn-primary btn-lg" id="launchButton" onclick="openModal()">
							  Launch 
							</button>
						</div>

<!-- 						Modal Code
 -->					<%= render partial: "pc_modal" %>
						<%= render partial: "worker_modal" %>
						
					<div class = "formDiv">
						<h4><b>Registration Form</b></h4></br>
						<%= render partial: "new_content" %>
					</div>
				</div>
			</div>

