<!-- Modal -->
<div class="modal fade modal-lg" id="workerModal" tabindex="-1" role="dialog" aria-labelledby="workerModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="workerModalLabel">Project Coordinator Training</h4>
      </div>
      <div class="modal-body">
      	<div class="container" id="workerWizard">
		   <div class="navbar">
		      <div class="navbar-inner">
		            <ul class="nav nav-pills">
		               <li class="active"><a href="#part1" data-toggle="tab">Part 1</a></li>
		               <li><a href="#part2" data-toggle="tab">Part 2</a></li>
		               <li><a href="#part3" data-toggle="tab">Part 3</a></li>
		               <li><a href="#part4" data-toggle="tab">Part 4</a></li>
		               <li><a href="#part5" data-toggle="tab">Part 5</a></li>
		               <li><a href="#part6" data-toggle="tab">Part 6</a></li>
		               <li><a href="#part7" data-toggle="tab">Part 7</a></li>
		               <li><a href="#part8" data-toggle="tab">Part 8</a></li>
		               <li><a href="#part9" data-toggle="tab">Part 9</a></li>
		               <li><a href="#part10" data-toggle="tab">Part 10</a></li>
		               <li><a href="#part11" data-toggle="tab">Part 11</a></li>
		            </ul>
		      </div>
		   </div>
		   <div class="tab-content">
		      <div class="tab-pane active" id="part1">
		         <p>Please go through the following training sections to register for a panel. Once you are registered, you will be eligible to be hired for one of our projects!</p>

				<p>The training will outline your roles, responsibilities, and the hiring process. We’re excited to have you onboard! </p>
		         <a class="btn btn-default next" href="#">Continue</a>
		      </div>
		      <div class="tab-pane" id="part2">
		         <p>Here is the content for step 2...</p>
		         <a class="btn btn-default next" href="#">Continue</a>
		      </div>
		      <div class="tab-pane" id="part3">
		         <p>Here is the content for step 3...</p>
		         <a class="btn btn-default next" href="#">Continue</a>
		      </div>
		      <div class="tab-pane" id="part4">
		         <p>Here is the content for step 4...</p>
		         <a class="btn btn-default next" href="#">Continue</a>
		      </div>
		      <div class="tab-pane" id="part5">
		         <p>This is the last step. You're done.</p>
		         <a class="btn btn-default next" href="#">Continue</a>
		      </div>
		      <div class="tab-pane" id="part6">
		         <p>Here is the content for step 2...</p>
		         <a class="btn btn-default next" href="#">Continue</a>
		      </div>
		      <div class="tab-pane" id="part7">
		         <p>Here is the content for step 3...</p>
		         <a class="btn btn-default next" href="#">Continue</a>
		      </div>
		      <div class="tab-pane" id="part8">
		         <p>Here is the content for step 4...</p>
		         <a class="btn btn-default next" href="#">Continue</a>
		      </div>
		      <div class="tab-pane" id="part9">
		         <p>Here is the content for step 2...</p>
		         <a class="btn btn-default next" href="#">Continue</a>
		      </div>
		      <div class="tab-pane" id="part10">
		         <p>Here is the content for step 3...</p>
		         <a class="btn btn-default next" href="#">Continue</a>
		      </div>
		      <div class="tab-pane" id="part11">
		         <p>Here is the content for step 4...</p>
		         <a class="btn btn-success first" href="#">Start over</a>
		      </div>
		   </div>
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>