<!-- Modal -->
<div class="modal fade modal-lg" id="workerModal" tabindex="-1" role="dialog" aria-labelledby="workerModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="workerModalLabel">Freelance Worker Training</h4>
      </div>
      <div class="modal-body">
      	<div class="container" id="workerWizard">
		   <div class="navbar">
		      <div class="navbar-inner wizTabs">
		            <ul class="nav nav-pills">
		               <li class="active"><a href="#part1" data-toggle="tab">Welcome</a></li>
		               <li><a href="#part2" data-toggle="tab">Hiring</a></li>
		               <li><a href="#part3" data-toggle="tab">Foundry</a></li>
		               <li><a href="#part4" data-toggle="tab">Quality</a></li>
		               <li><a href="#part5" data-toggle="tab">Summary</a></li>
		            </ul>
		      </div>
		   </div>
		   <div class="tab-content">
		      <div class="tab-pane active" id="part1">
		      	<p class = "infoText">Page 1 of 5</p>
				<p class="tText">Welcome to the Freelance Worker Registration</p></br>	        
        		<p class="tText">Please go through the following training sections to register for a panel. Once you are registered, you will be eligible to be hired for one of our projects! As a freelance worker for our project, your job will be to complete the tasks assigned to you to the best of your abilities. You will work with the Project Coordinator of your team and the other team members to make this happen.</br></p></br>
				<p class="tText">The training will outline your roles, responsibilities, and the hiring process. We’re excited to have you onboard! </p></br>
		      	<p class="span12 prev-next-btn">
		         	<a class="btn btn-default next pull-right" href="#">Next</a>
		         </p>
		      </div>
		      <div class="tab-pane" id="part2">
		      	<p class = "infoText">Page 2 of 5</p>
        		<p class="tText">The hiring for this project will be done On-Demand. After you complete this training, you can complete a form to register for a panel. When a job becomes available, we will send an email to all panel members. If you would like to work on the project, please respond to this email. We will accept freelancers on a first-come, first-serve basis. </p></br>
        		<p class = "tText">After you are accepted to a task, you will receive an email with more detailed instructions, and an invitation link to Foundry, the platform on which you will be doing your work.</p></br>
		        <p class="span12 prev-next-btn">
		        	<a class="btn btn-default prev pull-left" href="#">Previous</a>
		        	<a class="btn btn-default next pull-right" href="#">Next</a>
		        </p>
		      </div>
		      <div class="tab-pane" id="part3">
		      	<p class = "infoText">Page 3 of 5</p>
     			<p class = "tText">Please watch the below screencast to get a brief introduction to the platform you will be using:</p></br>
     			<iframe id = "youtube3" class="youtube-player" type="text/html" width="75%" height="400" src="http://www.youtube.com/embed/9W7BB32Z9qw" allowfullscreen="" frameborder="1"></iframe>
        		</br>
		         <p class="span12 prev-next-btn">
		         	<a class="btn btn-default prev vidButton3 pull-left" href="#">Previous</a>
		         	<a class="btn btn-default next vidButton3 pull-right" href="#">Next</a>
		         </p>
		      </div>
		      <div class="tab-pane" id="part4">
		      	<p class = "infoText">Page 4 of 5</p>		      	
				<p class = "tText">As previously mentioned, we will be expecting you to work to the best of your abilities. If you have any questions or concerns about your work, use the chat bar on the right side of the screen to communicate with your team’s PC. Your PC will either know the answer, or will find it for you. </p></br>
        		<p class = "tText">The below screencast will explain the documentation process:</p></br>
        		<iframe id = "youtube4" class="youtube-player" type="text/html" width="75%" height="400" src="http://www.youtube.com/embed/dbnHs-LD5Kc" allowfullscreen="" frameborder="1"></iframe>
        		</br>
		         
		         <p class="span12 prev-next-btn">
		         	<a class="btn btn-default prev vidButton4 pull-left" href="#">Previous</a>
				 	<a class="btn btn-default next vidButton4 pull-right" href="#">Next</a>
		         </p>
		      </div>
		      
		      <div class="tab-pane" id="part5">
		      	<p class = "infoText">Page 5 of 5</p>
				<p class = "tText">That should be all! Your next step is to complete the registration form on this page. Once you have registered for the appropriate panel for your skill set, simply wait for an email from us indicating that a job is available. If you are the first to respond to the email, you will hear from us indicating that you can get started!</p></br>
        		<p class = "tText">Remember: We are counting on you to make sure the work done by the team is efficient, and of high quality. Thank you for your hard work! </p></br>
        		 <p class="span12 prev-next-btn">
        		 	<a class="btn btn-default prev pull-left" href="#">Previous</a>
        		 </p>
		      </div>
		   </div>
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" id="woCompleteBtn" data-dismiss="modal" disabled onclick="showForm()">Complete Training</button>
      </div>
    </div>
  </div>
</div>