<div class="row span12">
<h1>Workers#edit</h1>
<p>Find me in app/views/workers/edit.html.erb</p>
</div>

<!-- <% render partial: "edit_content", layout: "panel_template" %> -->


<%= render partial: "edit_content" %>
