<%=render "panel_reg_sidebar" %>

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid"  id="signupform">
<div class="span12">
<div class="row">
<h1>Edit Worker</h1>
<br />
</div>

<div class="row">
<%= render partial: "edit_content" %>
</div>

</div>

 </div><!-- /#container-fluid -->
        </div><!-- /#page-content-wrapper -->

    </div><!-- /#wrapper -->

<%= render "panel_reg_sidebar_footer" %>



