<div class="row span12">
<h1>Workers#show</h1>
<p>Find me in app/views/workers/show.html.erb</p>
</div>

<div class="row span12">
<p><%= @worker.name %></p>
<p><%= @worker.email %></p>
<p><%= @worker.panel %></p>
</div>

<p class="row span12">
<%= link_to "Admin Panel", workers_index_path %>
</p>