#edit_event_form {
	background-color: #f8f8f8;
	box-sizing: border-box;
	overflow-y: scroll;

	.event_form_container {
		padding: 15px;
		box-sizing: border-box;
		width: 100%;
		border-top: 1px solid rgba(0,0,0,0.15);
	}


	input[type="text"], textarea {
		border-radius: 0;
		box-shadow: none;
		width: 230px;
		margin-bottom: 15px;
		border-color: rgba(0,0,0,0.15);
	}

	input[type="text"].small-input {
		width: 50px;
	}

	#event_form_duration_cont, #event_form_start_cont {
		display: inline-block;
	}

	#event_form_duration_cont {
		float: right;
	}

	.input-label {
		font-size: 10px;
		color: rgba(0,0,0,0.5);
		display: block;
	}

	.input-label.side-label {
		display: inline;
		line-height: 30px;
		margin-right: 5px;
	}

	#timings {
		display: inline-block;
		vertical-align: middle;
		width: 244px;
	}

	h5.form-heading {
		font-weight: normal;
		color: rgba(0,0,0,0.5);
	}
}