// Place all the styles related to the flash_teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tour-content-wrapper {
	overflow-y: scroll;
}

.event-block {

	border: none;
	background-color: white;
	padding: 10px;
	margin-bottom: 10px;
	border: 2px solid #FFF;

	&:hover {
		border: 2px solid #CCC;
	}

	&:active {
		border: 2px solid #228CE3;
	}

	.event-block-data {
		margin-bottom: 5px;
		span {
			color: white;
			padding: 1px 4px;
		}
	}

	.event-block-inputs {
		span {
			background-color: #19A86F;
			border: 1px solid #1DDB8F;
		}
	}

	.event-block-outputs {
		span {
			background-color: #1AA8B0;
			border: 1px solid #1DD2DB;
		}
	}

	.event-metadata {
		display: none;
	}

}

.event-popover-table {
	height: 175px;
	overflow: hidden;

	.event-table-wrapper {
		height: 140px;
		overflow-y: scroll;
		padding: 0px;	
	}

	.event-table-row {
	}
	
	.event-table-footer {
		position: static;
		height: 40px;
		bottom: 0;
	}

/*
	.event-table-cell {
		display: inline-block;
		max-width: 400px;
		vertical-align: top;
	}
*/

	.event-table-cell:first-child {
		max-width: 400px;
	}

	.bootstrap-tagsinput {
		width: 206px;
	}

	button {
		/* margin: 5px 6px 5px 0px; */
		margin-top: 2px;
	}

}

.outputForm{
  width: 95%;
}

/*

/* Panel Registration Form/Worker Edit Form Styles */

#panelregform{
	margin-left: 5px;
	margin-bottom: 30px;
}

#panelregform input{
	width: 300px;
}

#panelregform textarea{
	width: 500px;
}

#panelregform input.btn.btn-success{
	width: 514px;
	margin-top: 2px;
}

#panelregform label{
	display: inline; font-weight: bold; padding-right: 5px; 
}

#app-conf-code{
	font-size: 18px;
	font-weight: bold;
	border: 1px black solid;
	padding: 10px;
}

