@import url(http://fonts.googleapis.com/css?family=Quicksand:300);

html {
  font-weight: 200;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

@mixin transition($t) {
  -webkit-transition: $t;
     -moz-transition: $t;
      -ms-transition: $t;
       -o-transition: $t;
          transition: $t;
}

@mixin box-shadow($s) {
  -webkit-box-shadow: $s;
     -moz-box-shadow: $s;
}

$primary-border: solid 1px rgba(255,255,255,0.08);

.icon {
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* header styles */
#foundry-header {
  position: fixed;
  top: 0;
  left: 0;
  
  width: 100%;
  height: 64px;

  box-sizing: border-box;
  padding: 8px;
  
  background-color: #121314;
  border-bottom: $primary-border;
}

#foundry-header > .menu-button {
  position: fixed;
  top: 12px;
  left: 12px;

  background-image: url("../assets/icons/menu/menu.svg");
  background-size: 24px 24px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  
  box-sizing: border-box;
  
  @include border-radius(4px);
  @include transition( (background 0.2s, border 0.2s) );
}

#foundry-header > .menu-button:hover {
  background-color: rgba(0,0,0,0.8);
  border-right: solid 1px rgb(73, 73, 73);
  border-bottom: solid 1px rgb(73, 73, 73);
}

#foundry-header > .menu-button.active {
  background-color: rgba(0,0,0,0.8);
  border-right: solid 1px rgb(73, 73, 73);
  border-bottom: solid 1px rgb(73, 73, 73);
}

#foundry-header > .logo {
  position: fixed;
  top: 8px;
  left: 80px;
  
  display: inline-block;
  text-align: center;
   
  width: 48px;
  height: 48px;
  line-height: 48px;
  
  box-sizing: border-box;
  
  color: white;
  cursor: pointer;
  
  font-size: 24px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 200;
  
  @include transition( (border 0.4s, color 0.4s) );
}

#foundry-header > .logo:hover {
  color: #fc7373;
}

/* left-sidebar styles */
$left-sidebar-width: 251px;
#left-sidebar {
  position: absolute;
  left: 0;
  top: 64px;
  
  box-sizing: border-box;
  width: $left-sidebar-width;
  color: #858585;
  overflow: visible!important;
  border-right: $primary-border;
  /* background-color: #1e2324; */
  
  @include box-shadow( 2px 0 4px rgba(0,0,0,0.18) );
  @include transition( (margin-left 0.2s, left 0.2s) );
}

#left-sidebar .sidebar-item {
  min-height: 140px;
  margin-bottom: 24px;
  padding: 0 24px;
}

.sidebar .header {
  border-bottom: solid 1px rgba(233,233,233,0.08);
  padding: 11px 0;
}

.sidebar .header .main-header {
  font-family: 'Helvetica Neue', sans-serif;
  color: white;
  font-weight: 200;
  font-size: 20px;
  line-height: 15px;
  display: inline-block;
  margin: 0 0 0 11px;
}

.sidebar .header .icon {
  width: 15px;
  height: 15px;
}

.clear {
  clear: both;
}

#left-sidebar .sidebar-item #projectOverview {
  color: white;
  text-align: center;
  margin-top: 24px;
}

/* timeline styles */
#timeline-wrapper {
  position: absolute;
  left: $left-sidebar-width;
  
  height: 100%;
  overflow: hidden;
}

#timeline-container {
  height: 100%;
  background: #202020;
  
  margin: 11px 0 0 11px;
  padding: 11px;
  box-sizing: border-box;
  
  @include border-radius ( 4px 0 0 0 );
  @include transition( (left 0.2s, width 0.2s) );
}

#timeline-container .timeline-svg {
  margin-right: 11px; /* hack: exposes part of right edge of timeline */
}

/* to be deleted */

.info-sign {
  color: black;
  background: #999;
  width: 14px;
  height: 14px;
  display: inline-block;
  font-size: 11px;
  line-height: 14px;
  text-align: center;
  
  @include border-radius( 14px );
}

.info-sign::after {
  content: "i";
}


/* left-sidebar roles */

.role {
  padding: 2px 0 2px 8px;
  cursor: pointer;
  margin-top: 2px;
  
  font-size: 13px;
  
  @include transition( (background-color 0.2s, border 0.2s) );
}

.role:hover {
  color: white;
}
.role:hover .indicator.plus {
  border-color: white;
  transition: background 0.5s;
}

.role.valid .indicator.plus {
  color: rgba(0,0,0,0);
  border-color: white;
  border-size: 11px;
  
  background-size: cover;
  background-image: url('../assets/icons/check/check.svg');
}

.role .indicator {
  display: inline-block;
  border-radius: 40px;
  float: right;
  margin-top: 4px;
  height: 16px;
  width: 16px;
  
  border: solid 2px rgba(0,0,0,0);
  @include transition( (border-color 0.2s) );
}

.role .indicator:hover {
  border-color: white;
}

.role .indicator.plus {
  /* background-color: rgba(233,233,233,0.18); */
  text-align: center;
  line-height: 14px;
  font-weight: bold;
  border: solid 2px;
}

.role .name {
  font-size: 13px;
  line-height: 30px;
  float: left;
  
  @include transition( (margin-left 0.4s) );
}

.role.add-role input[type="text"],
.role.add-role textarea {
  float: left;
  background: none;
  margin: 0;
  border: 0;
  outline: 0;
  padding: 0;
  color: white;
  font: inherit;
  border: none;
  border-bottom: solid 1px rgba(255, 255, 255, 0.38);
  height: 30px;
  width: 80%;
}

.role.add-role input[type="text"]:focus,
.role.add-role textarea:focus {
  box-shadow: none;
}

/* right sidebar */
#right-sidebar {
  position: absolute;
  right: 0px;
  width: 300px;
  top: 64px;
  z-index: 2;
  background: black;
  border-left: solid 1px rgba(233,233,233,0.18);
  height: 100%;
  /*padding: 11px;
  box-sizing: border-box;*/
}

/* icons */
.icon {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
}

.check.icon {
  background-image: url("../assets/icons/check/check.svg");
}

.group.icon {
  background-image: url("../assets/icons/group/group.svg");
}

/* animations */
@-webkit-keyframes spin {
  18% {
    -webkit-transform: rotate(-40deg);
  }
  60% {
    -webkit-transform: rotate(180deg);
  }
  85% {
    -webkit-transform: rotate(370deg);
  }
  95% {
    -webkit-transform: rotate(350deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

.spin-anim {
  -webkit-animation: spin 1s;
}