@import url(http://fonts.googleapis.com/css?family=Quicksand:300);

h1,h2,h3,h4,h5,p,form {
  margin: 0;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

@mixin transition($t) {
  -webkit-transition: $t;
     -moz-transition: $t;
      -ms-transition: $t;
       -o-transition: $t;
          transition: $t;
}

@mixin box-shadow($s) {
  -webkit-box-shadow: $s;
     -moz-box-shadow: $s;
}

$primary-border: solid 1px rgba(232, 232, 232, 0.79);
$secondary-border: solid 1px rgba(239, 237, 237, 0.81);

.icon {
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

$header-height: 64px;
/* header styles */
#foundry-header {
  position: fixed;
  top: 0;
  left: 0;
  
  width: 100%;
  height: $header-height;
  
  background-color: #fcfcfc;
  border-bottom: $primary-border;
}

#foundry-header > .menu-button {
  width: 40px;
  height: 40px;
  cursor: pointer;

  position: absolute;
  top: 12px;
  left: 12px;
  z-index: 1;
  
  @include border-radius(40px);
  @include transition( (background 0.2s, border 0.2s, left 0.2s) );
}

#foundry-header > .menu-button:after {
  content: '';
  background-image: url('../assets/icons/menu/menus.svg');
  background-size: 24px 48px;
  background-position: 0 24px;
  width: 24px;
  height: 24px;
  display: inline-block;
  margin: 8px 0 0 8px;
}

#foundry-header > .menu-button:hover,
#foundry-header > .menu-button.active {
  background-color: #dd5151;
}

#foundry-header > .menu-button:hover:after,
#foundry-header > .menu-button.active:after {
  background-position: 0px 0px;
}

#foundry-header > .logo {
  position: absolute;
  left: 70px;
  top: 2px;
}

#foundry-header > .logo .text {
  position: absolute;
  font-family: "Helvetica Neue", "Arial";
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #4b4b4b;
  line-height: $header-height;
}

/* left-sidebar styles */
$left-sidebar-width: 251px;
#left-sidebar {
  position: absolute;
  left: 0;
  top: $header-height;
  margin-top: 11px;
  
  box-sizing: border-box;
  width: $left-sidebar-width;
  color: #494949;
  font-weight: 200;
  overflow: visible!important;
  border-top: $secondary-border;
  border-right: $secondary-border;
  background-color: white;
  
  @include border-radius( 0 4px 0 0 );
  @include transition( (margin-left 0.2s, left 0.2s) );
}

#left-sidebar .project-name {
  margin: 48px 0 24px 11px;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#left-sidebar .sidebar-item {
  border-bottom: $primary-border;
  transition: height 0.8s;
}

#left-sidebar .sidebar-item .header {
  padding: 11px 0;
  width: 100%;
  cursor: pointer;
  text-align: left;
  
  @include transition( color 0.4s );
}

#left-sidebar .sidebar-item .header:hover,
#left-sidebar .sidebar-item.active .header {
  color: #4697e5;
}

.sidebar .header .main-header {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  display: inline-block;
  margin-left: 11px;
}

#left-sidebar .sidebar-item .inner {
  padding: 8px 18px 32px 18px;
  box-sizing: border-box;
  display: none;
}

#left-sidebar .sidebar-item .inner .content {
  opacity: 0;
  @include transition( opacity 0.8s );
}

#left-sidebar .active.sidebar-item .inner .content {
  opacity: 1;
}

.clear {
  clear: both;
}

#left-sidebar .sidebar-item #projectOverview {
  text-align: left;
}

#left-sidebar .sidebar-item #projectOverview p {
  margin-bottom: 11px;
}

#left-sidebar .sidebar-item #projectOverviewEditLink {
  margin: 0;
  cursor: pointer;
}

/* timeline styles */
#timeline-wrapper {
  position: absolute;
  left: $left-sidebar-width;
  top: $header-height;
  
  @include transition( (left 0.2s, width 0.2s) );
}

#timeline-container {
  height: 100%;
  
  margin: 11px 11px 0 11px;
  background-color: white;
  border: $secondary-border;
  overflow: hidden;
  
  @include border-radius ( 4px 0 0 0 );
}

#timeline-container #timeline-header {
  padding: 11px 11px 0 11px;
}

#timeline-container #timeline-header #addTimeBtn {
  float: right;
  cursor: pointer;
}

#timeline-container .timeline {
  overflow: scroll;
  margin: 0 11px;
}

/* to be deleted */

.info-sign {
  color: black;
  background: #dedede;
  width: 14px;
  height: 14px;
  display: inline-block;
  font-size: 11px;
  line-height: 14px;
  text-align: center;
  text-transform: lowercase;
  @include border-radius( 14px );
}

.info-sign::after {
  content: "i";
}


/* left-sidebar roles */

.role {
  padding: 2px 0 2px 8px;
  cursor: pointer;
  margin-top: 2px;
  
  font-size: 13px;
  
  @include transition( (background-color 0.2s, border 0.2s) );
}

.role:hover .indicator.plus {
  transition: background 0.5s;
}

.role.valid .indicator.plus {
  color: rgba(0,0,0,0);
  border-color: black;
  border-size: 11px;
  
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../assets/icons/check/check_black.svg');
}

.role .indicator {
  display: inline-block;
  border-radius: 40px;
  float: right;
  margin-top: 4px;
  height: 16px;
  width: 16px;
  
  border: solid 2px rgba(0,0,0,0);
  @include transition( (border-color 0.2s) );
}

.role .indicator.plus {
  /* background-color: rgba(233,233,233,0.18); */
  text-align: center;
  line-height: 14px;
  font-weight: bold;
  border: solid 2px;
}

.role .name {
  font-size: 13px;
  line-height: 30px;
  float: left;
  
  @include transition( (margin-left 0.4s) );
}

.role.add-role input[type="text"],
.role.add-role textarea {
  float: left;
  background: none;
  margin: 0;
  border: 0;
  outline: 0;
  padding: 0;
  font: inherit;
  border: none;
  border-bottom: solid 1px rgba(255, 255, 255, 0.38);
  height: 30px;
  width: 80%;
}

.role.add-role input[type="text"]:focus,
.role.add-role textarea:focus {
  box-shadow: none;
}

/* right sidebar */
#right-sidebar {
  position: absolute;
  right: 0px;
  width: 280px;
  height: 100%;
  margin-top: 11px;
  top: 64px;
  z-index: 8;
}

#right-sidebar > .content {
  background: #fff;
  border-left: $secondary-border;
  border-top: $secondary-border;
  height: 100%;
  box-sizing: border-box;
  
  @include border-radius( 4px 0 0 0 );
}

#messageList {
  overflow-x: hidden;
  position: relative;
  overflow-y: scroll;
  word-wrap: break-word;
  background: #f8f8f8;
  width: 100%;
  padding: 11px;
  box-sizing: border-box;
}

#messageList .message {
  margin-bottom: 11px;
}

#messageList .author-header {
  /*color: rgb(45, 161, 244); /* TODO: change this to colors based on something */
  color: #333;
  margin-left: 11px;
  margin-bottom: 4px;
  font-size: 12px;
  display: none;
}

#messageList .text {
  padding: 11px 18px 11px 11px;
  
  background: #efefef;
  color: #333;
  
  /* color: #333; */
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 4px;
  margin-left: 11px;
  
  border: solid 1px rgba(218, 218, 218, 0.2);
  
  /* TODO: make this depend on a sass variable
     for the right-sidebar width*/
  max-width: 188px;
  
  float: left;
  
  text-align: left;
  @include border-radius( 2px );
}

/* message was by current user */
#messageList .by-user .text {
  /* brown + orange */
  /* background: rgb(97, 94, 94);
  color: #f7d17f; */
  
  /* blue + white */
  background: #33a6ec;
  color: white;
  
  font-weight: 200;
  
  border: none;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.08);
  
  padding: 11px;
  margin-right: 11px;
  float: right;
}

#messageList .message-footer {
  font-size: 12px;
  color: #6c6c6c;
  text-align: left;
  margin-left: 11px;
  padding: 8px 0px;
  float: left;
}

#messageList .by-user .message-footer {
  margin-right: 11px;
  float: right;
  text-align: right;
}

#messageList .message-footer .author::before {
  content: '';
  border-style: solid;
  border-width: 15px 12px 0px;
  display: block;
  width: 0px;
  z-index: 1;
  
  border-color: #efefef transparent;
  
  float: left;
  margin-top: -18px;
  margin-left: 11px;
}

#messageList .by-user .message-footer .author::before {
  /* brown */
  /* border-color: rgb(97, 94, 94) transparent; */
  
  /* blue */
  border-color: #33a6ec transparent;
  
  float: right;
  margin-right: 11px;
}

#right-sidebar .entry {
  width: 100%;
  padding-bottom: 11px;
}

#messageInput {
  background: transparent;
  width: 100%;
  max-width: 100%;
  border: none;
  border-top: $primary-border;
  border-bottom: $primary-border;
  border-radius: 0;
  resize: none;
  outline: none;
  box-shadow: none;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 13px;
  min-height: 70px;
  padding: 11px;
  box-sizing: border-box;
  margin: 0;

  /* use sass rule */
  transition: border-color 0.8s;
}

#sendChatButton {
  color: white;
  display: inline-block;
  padding: 8px 18px;
  border-radius: 2px;
  background: #3498db;
  margin-top: 8px;
  float: right;
  margin-right: 6px;
  font-weight: 400;

  transition: background-color 0.4s;
  cursor: pointer;
}

#sendChatButton:hover {
  background-color: #51B4F5;
}

#presenceDiv {
}

#online-users-box {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  
  background-color: rgba(255, 255, 255, 0.9);
}

#online-users-box .content {
  color: #333;
}

.sidebar .chat-header {
  color: rgb(119, 119, 119);
  background: rgba(247, 247, 247, 0.28);
  padding: 16px;
  border-bottom: $secondary-border;
}

.sidebar .chat-header .main-header {
  margin: 0;
  font-size: 18px;
  font-weight: 200;
}

.sidebar .chat-header #show-online-button {
  float: right;
  
  color: #181818;
  
  text-transform: uppercase;
  font-size: 10px;
  margin-bottom: 11px;
  cursor: pointer;
  
  
  transition: color 0.4s;
}

.sidebar .chat-content.blurred {
  overflow: hidden;
  
  -webkit-filter: blur(4px);
     -moz-filter: blur(4px);
       -o-filter: blur(4px);
          filter: blur(4px);
          /* for firefox */
          filter: url("../assets/blur.svg#blur");
}

/* icons */
.icon {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
}

.check.icon {
  background-image: url("../assets/icons/check/check_black.svg");
}

.group.icon {
  background-image: url("../assets/icons/group/group.svg");
}

/* animations */
@-webkit-keyframes spin {
  18% {
    -webkit-transform: rotate(-40deg);
  }
  60% {
    -webkit-transform: rotate(180deg);
  }
  85% {
    -webkit-transform: rotate(370deg);
  }
  95% {
    -webkit-transform: rotate(350deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

.spin-anim {
  -webkit-animation: spin 1s;
}