// Place all the styles related to the Workers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.modal-lg{
	width: 1000px;
	left: 25%;
}

.formDiv{
	display: none;
}

.tText{
	font-size: 16px;
}

.infoText{
	font-size: 12px;
	text-align: right;
}

.wizTabs{
	display: none;
}

.modal-body{
	max-height: 500px;
	overflow-y: scroll;
}

.prev{

}

.next{
	// float:right;
}