<% if @count == 1%>
<p>You should receive an email from us soon. Please click on the link in it to confirm your email address. You may now close this page. Thanks!</p>
<% else %>
<p>Invalid email address. Please check the entries and retry. <a href="mailto:stanfordhci.odesk@gmail.com">Email us</a> if the problem persists.</p>