<%= stylesheet_link_tag "auth"%>
<div class="auth_header">FOUNDRY</div>
<div class="text_msg">
  <p>A confirmation email has been sent to your email address.</br></br>
  Please click on the URL in the email to confirm your email address.</p>
</div>
